# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Generated & compiled files
#
/*.tgz
/static/sw.js

# Config files
#
/.editorconfig
/.eslintrc.js

/jsconfig.json
/nuxt.config.js
/tsconfig.json

# Environmental files
#
.env
env.php

# Useless files
#
README.md
/.github/
