@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

@keyframes blink
{
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink
{
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}
@-moz-keyframes blink
{
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

body
{
    background-color: #EEEEEE;
    font-family: Ubuntu;
    overflow: hidden;
}

header.jumbotron
{
    margin: 0px;
    height: 100%;
}
    header.jumbotron .page-header
    {
        border-bottom-color: #999999;
    }
    
textarea
{
    resize: none;
}

#main-container
{
    position: absolute;
    width: 100%;
}
    #main-container .spacer
    {
        padding: 28.125% 0px;
    }

.window
{
    border: 1px solid #999999;
    min-height: 50px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
    .window .title-bar
    {
        border: 1px solid #999999;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        
        box-shadow: none;
        
        cursor: move;
        
        margin: -1px;
        
        position: initial;
    }
        .window .title-bar .navbar-brand
        {
            color: #777777;
            font-weight: bold;
            white-space: nowrap;
        }
        
    .window .close
    {
        outline: none;
        padding: 15px;
    }
    
    .window .well
    {
        border: 1px solid #999999;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
        height: calc(100% - 49px);
        
        margin: -1px;
        
        padding: 12.5px;
    }
        .window .well .panel
        {
            height: 100%;
            
            overflow: hidden;
        }
    
    .window .btn
    {
        outline: none !important;
    }

.typed-cursor
{
    opacity: 0;
    
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.fa.fa-heart
{
    color: #FF0000;
}
        
#code-window
{
    height: 37.5%;
    left: 6.25%;
    min-width: 220px;
    top: 37.5%;
    width: 40%;
}
    #code-window #code
    {
        font-family: "Ubuntu Mono";
    }

#contact-window
{
    height: 40%;
    left: 52.5%;
    min-width: 250px;
    top: 20%;
    width: 37.5%;
}

#console-window
{
    height: 37.5%;
    left: 37.5%;
    min-width: 300px;
    top: 50%;
    width: 40%;
}
    #console-window #console
    {
        background-color: #300A24;
        border-color: #333333;
        color: #FFFFFF;
        font-family: "Ubuntu Mono";
        white-space: nowrap;
    }
        #console-window #console .cursor
        {
            opacity: 0;
            
            -webkit-animation: blink 1s infinite;
            -moz-animation: blink 1s infinite;
            animation: blink 1s infinite;
            
            -webkit-animation-delay: 0.25s;
            -moz-animation-delay: 0.25s;
            animation-delay: 0.25s;
        }

#page-footer
{
    bottom: 10px;
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 0;
}
