@-webkit-keyframes fade_out
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fade_out
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade_out
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotation_clockwise
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation_clockwise
{
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@keyframes rotation_clockwise
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes zoom_in-out
{
    0% { -webkit-transform: scale(0.5); }
    100% { -webkit-transform: scale(1.25); }
}
@-moz-keyframes zoom_in-out
{
    0% { -moz-transform: scale(0.5); }
    100% { -moz-transform: scale(1.25); }
}
@keyframes zoom_in-out
{
    0% { transform: scale(0.5); }
    100% { transform: scale(1.5); }
}

html,
body
{
    background-color: #35363A;
    overflow: hidden;
}

#page-loader
{
    background-color: #FFFFFF;
    height: 100%;
    left: 0px;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    top: 0px;
    transition: opacity 200ms linear, visibility 200ms linear;
    visibility: visible;
    width: 100%;
    z-index: 10000;
}
    #page-loader[disabled]
    {
        opacity: 0;
        visibility: hidden;
    }

    #page-loader > .spinner
    {
        -webkit-animation: rotation_clockwise 2s linear infinite;
        -moz-animation: rotation_clockwise 2s linear infinite;
        animation: rotation_clockwise 2s linear infinite;

        height: 18.75%;

        position: absolute;

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        transform-origin: 50% 50%;

        width: 18.75%;
    }
        #page-loader > .spinner > .dot
        {
            -webkit-animation: zoom_in-out 1.5s ease-in-out infinite alternate;
            -moz-animation: zoom_in-out 1.5s ease-in-out infinite alternate;
            animation: zoom_in-out 1.5s ease-in-out infinite alternate;

            border-radius: 50%;

            padding: 6.25% 0px;

            position: absolute;

            -webkit-transform-origin: 200% 200%;
            -moz-transform-origin: 200% 200%;
            transform-origin: 200% 200%;

            width: 12.5%;
        }

    #page-loader > #spinner-azure
    {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;

        left: calc(50% - (18.75% / 4));
        top: calc(50% - ((18.75% / 4) * 3));
    }
        #page-loader > #spinner-azure > .dot
        {
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
            animation-delay: 0s;

            background-color: #5bc0de;
        }

    #page-loader > #spinner-red
    {
        -webkit-animation-delay: -1.2s;
        -moz-animation-delay: -1.2s;
        animation-delay: -1.2s;

        left: calc(50% - (18.75% / 2));
        top: calc(50% - (18.75% / 2));
    }
        #page-loader > #spinner-red > .dot
        {
            -webkit-animation-delay: -0.3s;
            -moz-animation-delay: -0.3s;
            animation-delay: -0.3s;

            background-color: #d9534f;
        }

    #page-loader > #spinner-green
    {
        -webkit-animation-delay: -0.4s;
        -moz-animation-delay: -0.4s;
        animation-delay: -0.4s;

        left: calc(50% - ((18.75% / 4) * 3));
        top: calc(50% - ((18.75% / 4) * 3));
    }
        #page-loader > #spinner-green > .dot
        {
            -webkit-animation-delay: -0.6s;
            -moz-animation-delay: -0.6s;
            animation-delay: -0.6s;

            background-color: #5cb85c;
        }

    #page-loader > #spinner-blue
    {
        -webkit-animation-delay: -1.6s;
        -moz-animation-delay: -1.6s;
        animation-delay: -1.6s;

        left: calc(50% - ((18.75% / 4) * 3));
        top: calc(50% - (18.75% / 4));
    }
        #page-loader > #spinner-blue > .dot
        {
            -webkit-animation-delay: -0.9s;
            -moz-animation-delay: -0.9s;
            animation-delay: -0.9s;

            background-color: #337ab7;
        }

    #page-loader > #spinner-yellow
    {
        -webkit-animation-delay: -0.8s;
        -moz-animation-delay: -0.8s;
        animation-delay: -0.8s;

        left: calc(50% - (18.75% / 4));
        top: calc(50% - (18.75% / 4));
    }
        #page-loader > #spinner-yellow > .dot
        {
            -webkit-animation-delay: -1.2s;
            -moz-animation-delay: -1.2s;
            animation-delay: -1.2s;

            background-color: #f0ad4c;
        }
