$primary-color: #1976D2;
$primary-dark-color: #004BA0;
$primary-light-color: #63A4FF;

$secondary-color: #FFD600;
$secondary-dark-color: #C7A500;
$secondary-light-color: #FFFF52;

$background-color: #FAFAFA;

$chrome-scrollbar-color: #F1F1F1;
$chrome-link-preview-color: #DEE1E6;
$chrome-incognito-color: #35363A;

$font-family: unquote("Ubuntu, Roboto, Helvetica, sans-serif");
