// Colors...
//

$not-quite-black: #202124;
$somewhat-gray: #666666;
$slightly-off-white: #FAFAFA;

$primary-color: #1976D2;
$primary-dark-color: #004BA0;
$primary-light-color: #63A4FF;

$secondary-color: #FFD600;
$secondary-dark-color: #C7A500;
$secondary-light-color: #FFFF52;

$success-color: #2E7D32;
$info-color: #29B6F6;
$warning-color: #F9A825;
$danger-color: #B71C1C;

$chrome-scrollbar-color: #F1F1F1;
$chrome-link-preview-color: #DEE1E6;
$chrome-incognito-color: #35363A;

// Fonts...
//
$font-family: unquote("Ubuntu, Roboto, Helvetica, sans-serif");

// Sizes...
//
$xs-size: 0;
$sm-size: 600px;
$md-size: 854px;
$lg-size: 1024px;
$xl-size: 1280px;
$xxl-size: 1440px;

// SMELLS: controllare 'sta roba!
//
// $max-mobile-size: $sm-size - 1px;
// $min-tablet-size: $sm-size;
//
$max-mobile-size: $md-size - 1px;
$min-tablet-size: $md-size;
$max-tablet-size: $lg-size - 1px;
$min-desktop-size: $lg-size;

// Transitions...
//
$mdc-transition-duration: 280ms;
$mdc-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
