@use "./variables";

@keyframes blink
{
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes pulse
{
    0% { transform: scale(1); }
    15% { transform: scale(1); }
    30% { transform: scale(1.25); }
    52% { transform: scale(1); }
    68% { transform: scale(1.25); }
    90% { transform: scale(1); }
    100% { transform: scale(1); }
}

*
{
    font-family: variables.$font-family;

    &::selection
    {
        background-color: rgba(variables.$secondary-color, 0.5);
    }
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}

[title]
{
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;

    &.mdc-button,
    &.mdc-icon-button
    {
        cursor: pointer;
        text-decoration: none;
    }
}

a
{
    color: variables.$primary-dark-color;
    transition: color 100ms ease-in-out;

    &[title]
    {
        cursor: pointer;
    }

    [title]
    {
        cursor: inherit;
    }

    &:hover
    {
        color: variables.$primary-color;

        &[title]
        {
            text-decoration: underline;
        }

        [title]
        {
            text-decoration: none;
        }
    }
    &:active,
    &:focus
    {
        color: variables.$secondary-dark-color;
    }
}

blockquote
{
    border-left: 0.2em solid #CDCDCD;
    padding: 0px 1em;
    position: relative;

    &::before
    {
        color: #CDCDCD;
        content: "“";
        font-size: 2em;
        left: -30px;
        position: absolute;
    }
}

body
{
    background-color: #FFFFFF;
    color: variables.$not-quite-black;
    letter-spacing: 0.0125em;
    margin: 0px;
    overflow-y: scroll;

    &[disabled]
    {
        overflow: hidden;
    }

    @media print
    {
        color: #000000;
    }
}

code,
code *,
samp,
samp *
{
    font-family: "Courier New", "Courier", monospace;
}

del
{
    color: rgba(#000000, 0.5);
    position: relative;
    text-decoration: none;
    transition: color 100ms ease-in-out;

    &::after
    {
        border-top: 2px solid #AF0000;
        box-shadow: 0px 0px 1px rgba(#000000, 0.25);
        content: "";
        cursor: text;
        height: 0px;
        left: 0px;
        position: absolute;
        opacity: 1;
        pointer-events: none;
        top: 0.5625em;
        transition: opacity 100ms ease-in-out;
        width: 100%;
    }

    &:hover
    {
        color: #000000;

        &::after
        {
            opacity: 0.5;
        }
    }
}

dl
{
    dt
    {
        font-weight: bold;
        margin-bottom: 0.5em;

        &::after
        {
            content: ":";
        }
    }
    dd
    {
        margin-bottom: 1em;
        margin-left: 1em;
    }
}

hr
{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px solid #CDCDCD;
}
html
{
    background-color: variables.$chrome-incognito-color;
    box-sizing: border-box;

    @media print
    {
        background-color: #FFFFFF;
    }
}

img
{
    width: 100%;
}

q
{
    &::before
    {
        content: "«";
    }
    &::after
    {
        content: "»";
    }
}

.fa-heart
{
    color: #FF0000;

    &:hover
    {
        animation: pulse 1.5s infinite;
    }
}

.kbd-btn
{
    background-image: linear-gradient(45deg, #D0C4AA, #F3E4CD);
    border-bottom: 10px solid #B2A088;
    border-left: 6px solid #ECE3D4;
    border-radius: 3px;
    border-right: 6px solid #938268;
    border-top: 2px solid #B2A088;
    box-shadow: 0px 1px 2px rgba(#45361F, 0.5), inset 2px 0px 2px #CDC1A9, inset -2px 0px 2px #F5E9D3;
    color: #51402C;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0.2em 0.25em 0px;
    outline: none;
    padding: 0.75em 0.5em;
    vertical-align: top;

    &.large
    {
        padding: 0.75em 1em;
    }

    &:active
    {
        box-shadow: 0px 0px 2px 1px rgba(#45361F, 0.5), inset 2px 0px 2px #CDC1A9, inset -2px 0px 2px #F5E9D3;
        margin-top: 0.4em;
    }
}

.nuxt-content
{
    line-height: 1.5em;

    & > :first-child
    {
        margin-top: 0px;
    }
    & > :last-child
    {
        margin-bottom: 0px;
    }

    blockquote
    {
        color: lighten(#000000, 40);
        margin: 0px;

        &::before
        {
            display: none;
        }
    }
    code
    {
        background-color: rgba(variables.$primary-light-color, 0.25);
        border: 1px solid rgba(variables.$primary-dark-color, 0.25);
        border-radius: 2.5px;
        color: variables.$primary-dark-color;
        display: inline-block;
        height: 1.125em;
        line-height: 1.1em;
        padding: 0px 0.125em;
        text-shadow: 1px 1px 1px rgba(#FFFFFF, 0.5);
        white-space: nowrap;
    }
}

.fullscreen
{
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.overlay
{
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.35);

    @media print
    {
        display: none;
    }
}

.red
{
    color: #FF0000;
}

.screen
{
    background-color: #1F1F1F;
    border-bottom: 1px solid #474747;
    border-left: 1px solid #1F1F1F;
    border-right: 1px solid #474747;
    border-top: 1px solid #1F1F1F;
    border-radius: 6px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-top: 0.2em;
    padding: 6px 14px 6px 12px;
    text-shadow: 0px 0px 2px;

    &.green
    {
        color: #99FF99;
    }
    &.grey
    {
        color: #D7D7D7;
    }

    &::after
    {
        animation: blink 1.2s infinite;
        content: "▁";
    }
}
