@use "./variables";

@keyframes blink
{
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

*
{
    font-family: variables.$font-family;

    &::selection
    {
        background-color: rgba(variables.$secondary-color, 0.5);
    }
}

[title]
{
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;

    &.mdc-icon-button
    {
        cursor: pointer;
        text-decoration: none;
    }
}

a
{
    color: variables.$primary-dark-color;
    transition: color 100ms ease-in-out;

    &[title]
    {
        cursor: pointer;

        &:hover
        {
            text-decoration: underline;
        }
    }

    [title]
    {
        cursor: inherit;
    }
    &:hover [title]
    {
        text-decoration: none;
    }

    &:active,
    &:focus
    {
        color: variables.$secondary-dark-color;
    }
}

body
{
    background-color: #FFFFFF;
    color: variables.$not-quite-black;
    margin: 0px;
    overflow-y: scroll;

    &[disabled]
    {
        overflow: hidden;
    }

    @media print
    {
        color: #000000;
    }
}

code,
code *,
samp,
samp *
{
    font-family: "Courier New", "Courier", monospace;
}

html
{
    background-color: variables.$chrome-incognito-color;

    @media print
    {
        background-color: #FFFFFF;
    }
}

img
{
    width: 100%;
}

q
{
    &::before
    {
        content: "«";
    }
    &::after
    {
        content: "»";
    }
}

.fa-heart
{
    color: #FF0000;
}

.kbd-btn
{
    background-image: linear-gradient(45deg, #D0C4AA, #F3E4CD);
    border-bottom: 10px solid #B2A088;
    border-left: 6px solid #ECE3D4;
    border-radius: 3px;
    border-right: 6px solid #938268;
    border-top: 2px solid #B2A088;
    box-shadow: 0px 1px 2px rgba(#45361F, 0.5), inset 2px 0px 2px #CDC1A9, inset -2px 0px 2px #F5E9D3;
    color: #51402C;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0.2em 0.25em 0px;
    outline: none;
    padding: 0.75em 0.5em;
    vertical-align: top;

    &.large
    {
        padding: 0.75em 1em;
    }

    &:active
    {
        box-shadow: 0px 0px 2px 1px rgba(#45361F, 0.5), inset 2px 0px 2px #CDC1A9, inset -2px 0px 2px #F5E9D3;
        margin-top: 0.4em;
    }
}

.nuxt-content
{
    & > :first-child
    {
        margin-top: 0px;
    }
    & > :last-child
    {
        margin-bottom: 0px;
    }
}

.fullscreen
{
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.overlay
{
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.35);

    @media print
    {
        display: none;
    }
}

.red
{
    color: #FF0000;
}

.screen
{
    background-color: #1F1F1F;
    border-bottom: 1px solid #474747;
    border-left: 1px solid #1F1F1F;
    border-right: 1px solid #474747;
    border-top: 1px solid #1F1F1F;
    border-radius: 6px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-top: 0.2em;
    padding: 6px 14px 6px 12px;
    text-shadow: 0px 0px 2px;

    &.green
    {
        color: #99FF99;
    }
    &.grey
    {
        color: #D7D7D7;
    }

    &::after
    {
        animation: blink 1.2s infinite;
        content: "▁";
    }
}
