:root
{
    $border-size: 2px;
    $extra-size: calc((16px * 2) + $border-size);

    $sidebar-size: 300px;
    $index-size: 250px;

    --primary-background: #FAFAFA;
    --secondary-background: #D7D7D7;

    --container-size: 100%;
    --sidebar-size: #{$sidebar-size};
    --index-size: #{$index-size};

    /*
     * CSS breakpoints based on: Bootstrap
     */
    /*
     * Bootstrap CSS -> 576px
     */
    /*
     * Previous website version -> 600px (Max: 565px)
     */
    /*
     * Tailwind CSS -> 640px
     */
    @media only screen and (min-width: 768px)
    {
        --header-title-margin-left: 16px;
    }
    /*
     * Previous website version:
     *  854px (Max: 820px) -> the left sidebar opens by swifting the page content right
     */
    @media only screen and (min-width: 947px)
    {
        $container-size: 930px;

        $header-title-breakpoint: calc($container-size - $extra-size);

        --container-size: #{$container-size};
        --container-margin-left: auto;
        --header-menu-margin-left: auto;
        --header-title-margin-left: max(16px, (100% - #{$header-title-breakpoint}) / 2);
    }
    /*
     * VitePress:
     *  960px -> the left sidebar starts to be visible.
     */
    /*
     * Previous website version:
     *  1024px (Max: 944px) -> the left sidebar remains open and fixed
     *
     * Tailwind CSS -> 1024px
     */
    @media only screen and (min-width: 1281px)
    {
        $container-size: 930px;

        $container-space-taken: calc($container-size + $border-size);
        $sidebar-space-taken: calc($sidebar-size + $extra-size);
        $sidebar-half-space-taken: calc($sidebar-space-taken / 2);

        $container-breakpoint: calc($container-space-taken + $sidebar-half-space-taken);
        $header-menu-breakpoint: calc($container-space-taken - $sidebar-half-space-taken);
        $header-title-breakpoint: calc($container-space-taken - $sidebar-half-space-taken - $extra-size);
        $sidebar-breakpoint: calc($container-space-taken + $sidebar-space-taken + $sidebar-half-space-taken);

        --container-size: #{$container-size};
        --container-margin-left: max(0px, (100% - #{$container-breakpoint}) / 2);
        --header-menu-margin-left: max(#{$sidebar-size}, (100% - #{$header-menu-breakpoint}) / 2);
        --header-title-margin-left: max(#{$sidebar-space-taken}, (100% - #{$header-title-breakpoint}) / 2);
        --sidebar-left: max(0px, (100% - #{$sidebar-breakpoint}) / 2);
    }
    /*
     * VitePress:
     *  1280px -> the right sidebar starts to be visible
     *
     * Previous website version -> 1280px (Max: 945px)
     * Tailwind CSS -> 1280px
     */

    /*
     * Previous website version -> 1440px (Max: 1070px)
     */
    /*
     * Tailwind CSS -> 1536px
     */
    @media only screen and (min-width: 1533px)
    {
        $container-size: 1182px;

        $container-space-taken: calc($container-size + $border-size);
        $sidebar-space-taken: calc($sidebar-size + $extra-size);
        $sidebar-half-space-taken: calc($sidebar-space-taken / 2);

        $container-breakpoint: calc($container-space-taken + $sidebar-half-space-taken);
        $header-menu-breakpoint: calc($container-space-taken - $sidebar-half-space-taken);
        $header-title-breakpoint: calc($container-space-taken - $sidebar-half-space-taken - $extra-size);
        $sidebar-breakpoint: calc($container-space-taken + $sidebar-space-taken + $sidebar-half-space-taken);

        --container-size: #{$container-size};
        --container-margin-left: max(0px, (100% - #{$container-breakpoint}) / 2);
        --header-menu-margin-left: max(#{$sidebar-size}, (100% - #{$header-menu-breakpoint}) / 2);
        --header-title-margin-left: max(#{$sidebar-space-taken}, (100% - #{$header-title-breakpoint}) / 2);
        --sidebar-left: max(0px, (100% - #{$sidebar-breakpoint}) / 2);
    }
}
