ErrorDocument 404 /200.html
Options +FollowSymLinks -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTPS} !^on$
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|webp|js|css|swf|x-html|css|xml|js|woff|woff2|ttf|svg|eot)(\.gz)?$">
    <IfModule mod_expires.c>
        AddType application/font-woff2 .woff2
        ExpiresActive On
        ExpiresDefault A0

        ExpiresByType image/webp A31536000
        ExpiresByType image/gif A31536000
        ExpiresByType image/png A31536000
        ExpiresByType image/jpg A31536000
        ExpiresByType image/jpeg A31536000
        ExpiresByType image/ico A31536000
        ExpiresByType image/svg+xml A31536000
        ExpiresByType text/css A31536000
        ExpiresByType text/javascript A31536000
        ExpiresByType application/javascript A31536000
        ExpiresByType application/x-javascript A31536000
        ExpiresByType application/font-woff2 A31536000
    </IfModule>
    <IfModule mod_headers.c>
        Header set Expires "max-age=31536000, public"
        Header unset ETag
        Header set Connection keep-alive

        FileETag None
    </IfModule>
</FilesMatch>
